# plik app.js
# app.js

#folder print_jobs
print_jobs
# plik .gitignore
.gitignore

# plik environmental variables
.env

# plik konfiguracyjny dla npm
package.json

# node_modules
node_modules

# readme file 
README.md